* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 10px;
    background-color:hsl(30, 38%, 92%);
}

.container-card{
    padding: 10px;
    background-color:hsl(0, 0%, 100%);
}

h5 {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    color:  hsl(228, 12%, 48%);
    padding: 5% 0% 5% 0%;

}

p {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.valores {
    display: flex;
    padding: 5% 0% 5% 0%;
}

.v {
    color:hsl(158, 36%, 37%); 
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.f {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8%;
}

.perfume {
	border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.perfume-desktop {
    display: none;
}

.nome {
    padding: 0% 0% 5% 0%;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/*PROPRIEDADES DO BOTÃO*/
.btn-personalize {
    display: flex;
    justify-content: center;
    padding: 5% 0% 5% 0%;
}

button {

    display: flex;
    align-items: center;
	border-radius: 10px 10px 10px 10px;
    background-color:hsl(158, 61%, 25%);
    border: none;
    padding: 10px 100px;
}

button:hover {
    color:white;
    background-color: hsl(158, 96%, 18%);
}

.btn-color {
    color:hsl(0, 0%, 100%);
}

svg {
    padding: 10px;
}


/*PROPRIEDADES RESPONSIVAS DESKTOP*/

@media (min-width: 1024px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color:hsl(30, 38%, 92%);
    }

    .container-card {
        display: flex;
        align-items: center;
        width: 60%;
        height: 80%;
        background-color:hsl(30, 38%, 92%);
    }
       
    .perfume { /*Não aparecer a imagem mobile*/
        display: none;
    }

    .perfume-desktop {
        width: 50%;
        height: 402px;
        border-radius: 5% 0% 0% 5%;
        display:block;
        background-image: url(images/image-product-desktop.jpg);
    }
    
    .card-geral-info {
        width: 50%;
        padding: 3%;
        background-color: white;
        border-radius: 0% 5% 5% 0%;

    }
    
}

@media (min-width: 1025px) {
    .container-card {
        width: 100vh;
    }

} 